body {
    background: #40636b;
    color: #e0e0e0;
    text-align: center;
    margin: 0;
    font-weight: 400;
    font-family: 'Roboto', Arial, sans-serif;
    text-shadow: 1px 0 0 black;
}

table {
    width: 100%;
    table-layout: fixed;
    /* padding: 0; */
    border-collapse: collapse;
    /* margin:0; */
}

th {
    background: rgb(76, 69, 173);
    font-weight: 500;
    padding: 10;
}

td {
    background: rgb(81, 123, 181);
    font-weight: 400;
    padding: 10;
    text-align: center;
}

tr:nth-child(odd) td {
    background: rgb(72, 112, 167);
}